@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    background: #FAF8F4;
}

.header {
    width: 80%;
    margin: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 10px;
}

.nav_logo {
    margin: 10px;
    width: auto;
    height: 100px;
    align-items: right;
}

.nav__list {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__items {
    display: flex;
}

.nav__item {
    margin: auto 20px;
    font-weight: bold;
}

.nav__link {
    color: #7B787C;
    text-decoration: none;
    list-style-type: none;
}

.nav__button {
    display: flex;
}

.nav__item {
    display: inline-block;
    margin: 10px 20px;
}

.nav__button {
    text-decoration: none;
    list-style-type: none;
}

.nav__button--btn-primary {
    padding: 12px 20px;
    background: linear-gradient(to right, #525252, #101010);
    border: none;
    border-radius: 10px;
    color: white;
}

.header__content {
    display: flex;
    background: linear-gradient(to right, #bdb1c5, #DDD7D0);
    min-height: 70vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.header__section {
    padding: 50px;
    flex-basis: 50%;
}

.header__title {
    font-size: 80px;
    font-weight: bold;
}

.header__paragraph {
    color: #7B787C;
}

.header__button {
    margin-top: 30px;
}

.header__button--btn-primary {
    padding: 12px 20px;
    background: linear-gradient(to right, #525252, #101010);
    border: none;
    border-radius: 10px;
    color: white;
}

.header__button--btn-secundary {
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: #101010;
    background: transparent;
}

.header__figure {
    flex-basis: 40%;
}

.header__image {
    width: 90%;
    align-items: start;
}