/* Default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV */

.nav {
    position: relative;
    background: #021222;
    height: 80px;
}

.nav__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}

.nav__logo {
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.nav__logo h1 {
    color: #95bdd8;
    font-weight: 300;
    font-size: 35px;
}

.nav__logo h1 span {
    color: #0590ec;
    font-weight: 700;
}

.nav__links .nav__link {
    display: inline-block;
}

.nav__links .nav__link a {
    text-decoration: none;
    color: #d1faf4;
    font-size: 20px;
    margin: 0 25px;
}

.nav__links .nav__link a:hover {
    color: #61a6ff;
}

.nav__toggle {
    color: #d1faf4;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    display: none;
}

/* MAIN */

.main__article {
    align-items: center;
}


/* ARTICLE */

.article__section {
    display: grid;
    justify-content: space-between;
    margin: 20px auto;
    width: clamp(50%, 90ch, 70%);
    grid-template-columns: repeat(2, auto);
}

.article__tittle .article__paragraph {
    background: #021222;
}

.article__paragraph {
    margin-top: 20px;
}

.article__image {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: right;
    object-fit: cover;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: #021222;
}

.footer__paragraf {
    padding: 1.5em;
    text-align: center;
}


/* MEDIA QUERYS */

@media (0px < width < 579px) {
    .article__section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .nav__links {
        width: 30%;
    }
}


@media (max-width: 700px){
    .nav__toggle {
        display: inline-block;
    }

    .nav__links {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        height: auto;
        width: 45%;
        z-index: 1;
        top: -100vh;
        right: 0;
        transition: .5s;
    }

    .nav__toggle--active {
        top: 80px;
        right: 0;
    }

    .nav__links .nav__link:hover {
        background: #051c38;
    }
}