@import url(reset.css);


body {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

/* NAVBAR */

.nav {
    text-align: center;
    color: white;
    background-color: black;
}

.nav__title {
    padding: 1.5rem;
    margin: 0 auto;
}

.nav__list {
    text-align: center;
    list-style-type: none;
    background-color: rgb(111, 123, 123);
}

.nav__item {
    display: inline-flex;
}

.nav__item:hover {
    background-color: rgb(60, 62, 63);
}

.nav__link {
    padding: 10px;
    width: 150px;
    color: white;
    text-decoration: none;
}


/* MAIN */

.main__article {
    align-items: center;
}


/* ARTICLE */

.article__section {
    display: grid;
    justify-content: space-between;
    margin: 20px auto;
    width: clamp(50%, 90ch, 70%);
    grid-template-columns: repeat(2, auto);
}

.article__paragraph {
    margin-top: 20px;
}

.article__image {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-items: right;
}


/* FOOTER */

.footer {
    margin-top: auto;
    padding: 0;
    width: 100%;
    color: white;
    background-color: black;
}

.footer__paragraf {
    padding: 1.5em;
    text-align: center;
}


/* MEDIA QUERYS */

@media (width < 290px) {
    .article__section {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (width >=290px) {
    .article__section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (width >=550px) {
    .article__section {
        grid-template-columns: repeat(2, auto);
    }
}