@import url(reset.css);


body {
    display: flex;
    flex-direction: column;
    background: rgb(53, 53, 53);
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #24252A;
}

.header__title {
    font-weight: bold;
    color: #edf0f1;
}


/*NAVBAR*/
.nav {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav__list {
    display: inline-block;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav__item {
    display: inline-block;
    padding: 0px 20px;
}

.nav__link,
.nav__link-button {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.nav__link:hover {
    color: orange;
}

.nav__button {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2 ease;
}

.nav__button:hover {
    scale: 1.05;
    color: #fff;
}

.nav__button:active {
    scale: 0.95;
}

.nav__toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* RESPONSIVE */

@media(max-width: 900px) {
    /* .nav__list,
    .nav__button{
        /* display: none; 
    } */

    .nav__toggle-btn {
        order: 2;
        display: block;
    }

    .nav__list {
        order: 3;
        position: absolute;
        display: flex;
        top: 100%;
        left: 40rem;
        right: 0;
        flex-direction: column;
        /* background: #c0ab33; */
        /* 
        transition: all 0.50s ease;
        text-align: left; */
    }

    /* .nav__list.open {
        top: 100%;
    } */

    .nav__link {
        padding: 0.5rem;
        border-left: 2px solid #fff;
        margin: 0.8rem 1rem;
        display: block;
    }

    .nav__link:hover {
        background: #fff;
        color: #00c9e0;
    }

    .nav__button{
        order: 4;
        position: absolute;
        display: flex;
        top: 800%;
        left: 40rem;
        right: 0;
        flex-direction: column;
        background: #c0ab33;
        transition: all 0.50s ease;
    }

    .nav__button.open {
        top: 100%;
    }

}
































